@model ProductsIndexViewModel
@{
    ViewData["Title"] = "Products";
}

@section Back {
    <button class="back-btn" onclick="history.back()">
        ← Back
    </button>
}

<section class="container my-5">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <h1 class="fw-bold text-center">Products</h1>
    </div>

    <form method="get" class="mb-4">
        @if (Model.IsCategoryLocked)
        {
            <input type="hidden" name="lockCategory" value="true" />
        }
        <div class="row g-2 align-items-end">            
            <div class="col-md-4">
                
                <label class="form-label">Search</label>
                <input type="text"
                       name="searchTerm"
                       value="@Model.SearchTerm"
                       class="form-control"
                       placeholder="Search products..." />
            </div>

            <div class="col-md-2">
                <label class="form-label">Category</label>
                <select name="categoryId" class="form-select">
                    @if (Model.IsCategoryLocked)
                    {
                        <option value="@Model.CategoryId" selected>@Model.Categories.First(c => c.Id == Model.CategoryId).Name</option>
                    }
                    else
                    {
                        <option value="">All categories</option>
                        @foreach (var c in Model.Categories)
                        {
                            if (Model.CategoryId == c.Id)
                            {
                                <option value="@c.Id" selected>@c.Name</option>
                            }
                            else
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        }
                    }
                        
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Min Price (&euro;)</label>
                <input type="number"
                       step="1"
                       min="1"
                       name="minPrice"
                       value="@Model.MinPrice"
                       class="form-control" />
            </div>

            <div class="col-md-2">
                <label class="form-label text-center">Max Price (&euro;)</label>
                <input type="number"
                       step="1"
                       min="1"
                       name="maxPrice"
                       value="@Model.MaxPrice"
                       class="form-control" />
            </div>

            <div class="col-md-2 d-flex gap-2 align-items-center">
                <button type="submit" class="btn btn-primary w-100">
                    Search
                </button>

                <a asp-action="Index" asp-route-categoryId="@(Model.IsCategoryLocked ? @Model.CategoryId : "")" asp-route-lockCategory="@Model.IsCategoryLocked" class="btn btn-outline-secondary w-100">
                    Reset
                </a>
            </div>
        </div>
    </form>

    @if (!Model.Products.Any())
    {
        <div class="alert alert-secondary">
            No products found.
        </div>
    }
    else
    {
        <div class="row g-4">
            @foreach (var p in Model.Products)
            {
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card product-card h-100">
                        <img src="@p.ImageUrl" class="card-img-top" />

                        <div class="card-body d-flex flex-column">
                            <small class="text-muted text-uppercase">@p.Category</small>

                            <h5 class="card-title mt-2">
                                @p.Name
                            </h5>

                            <div class="mt-auto d-flex justify-content-between align-items-center">
                                <span class="price">
                                    @Helper.ToEuro(p.Price).ToString("0.00") &euro; / @p.Price.ToString("C")
                                </span>

                                <a asp-action="Details"
                                   asp-route-id="@p.Id"
                                   class="btn btn-outline-primary btn-sm">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    }
</section>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-categoryId="@Model.CategoryId"
                   asp-route-minPrice="@Model.MinPrice"
                   asp-route-maxPrice="@Model.MinPrice">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.Page == i ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-categoryId="@Model.CategoryId"
                       asp-route-minPrice="@Model.MinPrice"
                       asp-route-maxPrice="@Model.MinPrice">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-categoryId="@Model.CategoryId"
                   asp-route-minPrice="@Model.MinPrice"
                   asp-route-maxPrice="@Model.MinPrice">
                    Next
                </a>
            </li>

        </ul>
    </nav>
}


