@model OrdersIndexViewModel
@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>
<form method="get" asp-action="Index">
    <div class="row">
        <div class="col-md-2">
            <label class="form-label">Sort</label>
            <div class="d-flex gap-2">                
                <select name="SortBy" class="form-select">
                    @foreach (var sort in Enum.GetValues<OrderSort>())
                    {
                        if (Model.SortBy == sort)
                        {
                            <option value="@sort" selected>@sort</option>
                        }
                        else
                        {
                            <option value="@sort">@sort</option>
                        }
                    }
                </select>            
                <button type="submit" class="btn btn-primary">
                     Go
                </button>   
            </div>
        </div>        
    </div>
</form>
@if (!Model.Orders.Any())
{
    <p>No orders yet.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Date</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy hh:mm", CultureInfo.InvariantCulture)</td>
                    <td>@order.OrderItems.Sum(i => i.TotalPrice).ToString("0.00") €</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-sm btn-info">View</a>

                        <form asp-action="Cancel" asp-route-id="@order.OrderId" method="post" style="display:inline">
                            <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

