@model OrdersIndexViewModel
@{
    ViewData["Title"] = "Orders";
}
@section Styles {
    <link rel="stylesheet" href="~/css/toast.css" asp-append-version="true"/>
}
<div id="temp-message" data-temp-Msg="@TempData["Admin_SuccessMessage"]"></div>
<h2>Orders</h2>
<form method="get" asp-action="Index">
    <div class="row align-items-center mb-2">
        <div class="col-md-2">
            
            <input type="text"
                   name="searchTerm"
                   value="@Model.SearchTerm"
                   class="form-control"
                   placeholder="Search by #..." />
        </div>
            <div class="col-md-2">   
                <select name="SortBy" class="form-select">
                    @foreach (var sort in Enum.GetValues<OrderSort>())
                    {
                        if (Model.SortBy == sort)
                        {
                            <option value="@sort" selected>@sort</option>
                        }
                        else
                        {
                            <option value="@sort">@sort</option>
                        }
                    }
                </select>  
            </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="OnlyPending" />
                <label class="form-check-label" asp-for="OnlyPending">
                    Show Only Pending?
                </label>
            </div>
        </div>

        <div class="col-md-2 d-flex gap-2 align-items-center">
                <button type="submit" class="btn btn-primary">
                        Go
                </button>
                <a asp-action="Index" class="btn btn-outline-secondary">
                    Reset
                </a>
            </div>      
    </div>
</form>
@if (!Model.Orders.Any())
{
    <p class="text-center fw-bold alert-heading">No orders found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Date</th>
                <th>Total</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy hh:mm", CultureInfo.InvariantCulture)</td>
                    <td>@order.OrderItems.Sum(i => i.TotalPrice).ToString("0.00") €</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-sm btn-info">View</a>
                        @if (order.Status == OrderStatus.Pending)
                        {
                            <form asp-action="MarkAsShipped"
                                  asp-route-id="@order.OrderId"
                                  method="post"
                                  style="display:inline">
                                <button type="submit" class="btn btn-sm btn-success">
                                    Mark as Shipped
                                </button>
                            </form>
                            <form asp-action="Cancel" asp-route-id="@order.OrderId" method="post" style="display:inline">
                                <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
                            </form>
                        }                       
                    </td>
                    <td>
                    <div>
                        <span class="badge
                                                @(order.Status == OrderStatus.Pending ? "bg-warning" :
                                                    order.Status == OrderStatus.Shipped ? "bg-success" :
                                                    "bg-danger")">
                                @order.Status
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-sortBy="@Model.SortBy">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.Page == i ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-sortBy="@Model.SortBy">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-sortBy="@Model.SortBy">
                    Next
                </a>
            </li>

        </ul>
    </nav>
}
@section Scripts {
    <script src="~/js/toast.js"></script>
    <script src="~/js/readTempMsg.js"></script>
}