<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechHaven</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/TechHaven.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/back-button.css" />    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/images/icons/online-shop.png" type="image/png" />
    @await RenderSectionAsync("PageCss", false);
    @await RenderSectionAsync("Styles", false);
</head>

<body>
    <aside class="sidebar">
        <div class="logo">TechHaven</div>
        <nav>
            <a asp-controller="Home" asp-action="Index" class="nav-link @(string.Equals(
              ViewContext.RouteData.Values["controller"]?.ToString(),
               "home", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">🏠</span> Home</a>

            <a asp-controller="Products" asp-action="Index" class="nav-link @(string.Equals(
              ViewContext.RouteData.Values["controller"]?.ToString(),
               "products", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">📦</span> Products</a>

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Wishlist" asp-action="Index" class="nav-link @(string.Equals(
                  ViewContext.RouteData.Values["controller"]?.ToString(),
                  "wishlist", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">❤️</span> My Wishlist</a>

                <a asp-controller="Orders" asp-action="Index" class="nav-link @(string.Equals(
                  ViewContext.RouteData.Values["controller"]?.ToString(),
                  "orders", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">🧾</span> Orders</a>

                <div class="cart-container">
                    <a asp-controller="Cart" asp-action="Index" class="nav-link @(string.Equals(
                      ViewContext.RouteData.Values["controller"]?.ToString(),
                      "cart", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">🛒</span> Cart</a>
                </div>
                
            }
            
        </nav>
        <partial name="_LoginPartial" />
    </aside>

    <div class="container">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="wishlistToast"
                 class="toast align-items-center text-bg-dark border-0"
                 role="alert">
                <div class="d-flex flex-column text-center">
                    <div class="toast-body" id="wishlistToastBody"></div>   
                    <div class="progress-bar neon-timer"></div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
        </div>

        <main class="main-content" role="main">
            @await RenderSectionAsync("Back", false)
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
